{% extends 'base.html' %}
<!-- for comments -->
{% load crispy_forms_tags %}

{% block banner %}
<h1 class="banner-h1 blog-view-h1">{{ blog.title }}</h1>
<!-- blog image -->
<!-- placeholder img statement -->
{% if "placeholder" in blog.main_image.url %}
    <!-- placeholder image in media dir -->
    <!-- <img class="card-img" src="{{ MEDIA_URL }}images/placeholder-img.jpg" alt="blog image"> -->
    <img class="card-img" src="https://res.cloudinary.com/mountaincharlie/image/upload/v1650551484/media/images/placeholder-img_xjshjw.jpg" alt="blog image">
{% else %}
    <!-- database image in Cloudinary -->
    <img class="card-img" src=" {{ blog.main_image.url }}" alt="blog image">
{% endif %}
{% endblock banner %}

{% block content %}

<div class="blog-view">

    <!-- alert messages -->

    <!-- blog content/layout -->
    <div>
        <p class="text-muted">
            {{ blog.created_date }}
        </p>
    </div>
    <!-- blog content -->
    <div>
        {{ blog.content | safe }}
    </div>
    <hr>
    <!-- the like/comment icon whether user is logged in or not -->
    <div class="text-muted">
        {% if user.is_authenticated %}
            <!-- display inline, sends tp post_like url, uses slug argument POSt method -->
            <form class="d-inline" method="post" action="{% url 'blog_like' blog.slug %}">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blog_id" value="{{ blog.slug }}" class="like-btn">
                    <i class="fa-solid fa-hands-clapping like-hightlight"></i>
                </button>
                {% else %}
                <button type="submit" name="blog_id" value="{{ blog.slug }}" class="like-btn text-muted">
                    <i class="fa-solid fa-hands-clapping"></i>
                </button>
                {% endif %}
            </form>
            <!-- if user not logged in -->
        {% else %}
            <i class="fa-solid fa-hands-clapping"></i>
        {% endif %}
        
        {{ blog.number_of_likes }} 
    </div>
    <!-- displaying approved comments -->
    <!-- <div class="text-muted">
        <i class="fa-solid fa-comments"></i>
        {{ blog.number_of_comments }}
        <h3>Comments:</h3>
        <div>
            {% for comment in comments %}
            <div>
                <p>
                    {{ comment.name }}
                    {{ comment.created_date }}
                    wrote:
                </p>
                {{ comment.body | linebreaks}}
            </div>
        </div>
        {% endfor %}
    </div> -->
    {% if user.is_authenticated %}
    <div class="text-muted">
        <i class="fa-solid fa-comments"></i>
        <p><i class="fa-solid fa-gears"></i> Commenting feature coming soon <i class="fa-solid fa-gears"></i></p>
        <p>You can still send Josh feedback via <strong><a href="https://www.instagram.com/blosh.writing/" target="_blank">blosh.writing <i class="fa-brands fa-instagram"></i></a></strong></p>
    </div>
    <!-- FORM TO FIX -->
    <!-- <div class="text-muted">
        <h4>Add comment:</h4>
        <form method="post">
            {{ comment_form | crispy }}
            {% csrf_token %}
            <button class="allauth-form-btn" type="submit">Post as {{ user.username }}</button>
        </form>
    </div> -->
    {% endif %}
</div>

<!-- awaiting approval message/leave a comment form -->

{% endblock content %}