{% extends "base.html" %}

{% block banner %}
<h1 class="banner-h1 homepage-h1">Blosh</h1>
<!-- <img src="{{ MEDIA_URL }}images/home-bg-img.jpg" alt="homepage image"> -->
<img src="https://res.cloudinary.com/mountaincharlie/image/upload/v1650551484/media/images/home-bg-img_cajiyq.jpg" alt="homepage image">
{% endblock banner %}
 
{% block content %}
 
<!-- blog selection page -->
 
<!-- <ul class="horizontal-list">
        <li>By date</li>
        <li>Topic</li>
        <li>A-Z</li>
    </ul> -->


<!-- using boostrap rows and cards for tiles -->
<div class="blog-cards-container container">
    <div class="row">

        <!-- forloop to generate all the blog cards in this row -->
        {% for blog in blog_list %}

        <!-- entire card is a link to the blog's view -->
        <a href="{% url 'blog_view' blog.slug %}">
            <!-- each col is a card container -->
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <!-- card bg image -->
                    {% if "placeholder" in blog.main_image.url %}
                        <!-- placeholder image in media dir -->
                        <!-- <img class="card-img" src="{{ MEDIA_URL }}images/placeholder-img.jpg" alt="blog image"> -->
                        <img class="card-img" src="https://res.cloudinary.com/mountaincharlie/image/upload/v1650551484/media/images/placeholder-img_xjshjw.jpg" alt="blog image">
                    {% else %}
                        <!-- database image in Cloudinary -->
                        <img class="card-img" src=" {{ blog.main_image.url }}" alt="blog image">
                    {% endif %}
                    <!-- image overlay -->
                    <div class="card-img-overlay">
                        <h3>{{ blog.title }}</h3>
                        <p>{{ blog.summary }}</p>
                    </div>
                    <!-- card footer -->
                    <div class="card-footer text-muted">
                        <p>
                            {{ blog.created_date }} |
                            <i class="fa-solid fa-hands-clapping fa-xs"></i>
                            {{ blog.number_of_likes }} 
                            <i class="fa-solid fa-comments fa-xs"></i>
                            <!-- {{ blog.number_of_comments }} -->
                        </p>
                    </div>
                </div>
            </div>
        </a>

        {% endfor %}
        <!-- <a href="#">
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>BLOG TITLE</h3>
                            <p>BLOG SUMMARY</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>dd/mm/yyyy</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>BLOG TITLE</h3>
                            <p>BLOG SUMMARY</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>dd/mm/yyyy</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>BLOG TITLE</h3>
                            <p>BLOG SUMMARY</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>dd/mm/yyyy</p>
                    </div>
                </div>
            </div>
        </a> -->

    </div>
</div>




 
<!-- ADD django boilerplate pagination code for new pages -->
 
{% endblock content %}