{% extends "base.html" %}

{% block banner %}
<h1 class="banner-h1">Josh's Blog</h1>
<img src="../static/images/home-bg-img.jpg" alt="homepage image">
{% endblock banner %}
 
{% block content %}
 
<!-- blog selection page -->
 
<!-- <ul class="horizontal-list">
        <li>By date</li>
        <li>Topic</li>
        <li>A-Z</li>
    </ul> -->


<!-- using boostrap rows and cards for tiles -->
<div class="blog-cards-container container">
    <div class="row">

        <!-- forloop to generate all the blog cards in this row -->
        {% for blog in blog_list %}

        <!-- entire card is a link to the blog's view -->
        <a href="{% url 'blog_view' blog.slug %}">
            <!-- each col is a card container -->
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <!-- change to if statement with placeholder img -->
                        <img class="card-img" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>{{ blog.title }}</h3>
                            <p>{{ blog.summary }}</p>
                            <!-- <h3>BLOG TITLE</h3> -->
                            <!-- <p>Blog summary</p> -->
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p>{{ blog.created_date }}</p>
                        <!-- <p>dd/mm/yyyy</p> -->
                    </div>
                </div>
            </div>
        </a>

        {% endfor %}
        <!-- <a href="#">
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>BLOG TITLE</h3>
                            <p>BLOG SUMMARY</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>dd/mm/yyyy</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>BLOG TITLE</h3>
                            <p>BLOG SUMMARY</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>dd/mm/yyyy</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="col-sm col-md-4 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="../static/images/blog-img-fullsize.jpg" alt="blog image">
                        <div class="card-img-overlay">
                            <h3>BLOG TITLE</h3>
                            <p>BLOG SUMMARY</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>dd/mm/yyyy</p>
                    </div>
                </div>
            </div>
        </a> -->

    </div>
</div>




 
<!-- ADD django boilerplate pagination code for new pages -->
 
{% endblock content %}